/* Page & Font Styles */

body {
    background-image: url(Golden_Mile_1.jpg);
    background-color: rgba(255, 255, 255, 0.4);
    background-blend-mode: lighten;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.container {
    font-family: "Verdana", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1em;
    background-color: rgba(255,254,230);
    border: solid black 0.1rem;
    width: 600px;
    height: 850px;
    margin-top: 60px;
    padding-top: 10px; 
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    filter: drop-shadow(0 0 0.3rem);
    position: relative;
}

h1 {
    font-family: "Tahoma", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 2.5em;
    transform: skew(-5deg);
    filter: drop-shadow(15px 10px 5px lightgray);
}

h2 {
    font-family: "Tahoma", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 1em;
}

h3 {
    font-family: "Courier New", monospace; 
    color: dimgray;
    font-weight: 100;
    font-size: 1.2em;
    letter-spacing: 1px;
}

p {
    font-family: "Verdana", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 1em;
}

strong {
    font-family: "Verdana", sans-serif;
    color: dimgray;
    letter-spacing: inherit;
    font-weight: 200;
    font-style: normal;
    line-height: inherit;
}

/* Element and Class Styles*/

a {
    color: black;
    font-weight: 300;
}

.a_nolink {
    color: black;
    text-decoration: none;
    font-family: "Verdana", sans-serif;
    font-size: 0.9em;
    letter-spacing: 2px;
}

a:hover {
    color: darkgoldenrod;
}

.nav-header {
    height: 2em;
    font-family: "Courier New", monospace;
    font-weight: 200;
    font-style: normal;
    font-size: 1.2em;
    letter-spacing: 1.5px;
    margin-bottom: 10px;
}

img {
    border-radius: 10px;
}

.polaroid {
    border: 3px dotted #ddd;
}

.icon {
    height: 25px;
    width: 25px; 
    fill="currentcolor";
}

.pointer {
    height: 25px;
    width: 25px; 
    fill="currentcolor";
    transform: rotate(90deg);
}

.thumbnail {
    width: 240px;
    height: 200px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.icon_thumbnail {
    height: 35px;
    width: 35px; 
    fill="currentcolor";
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center; 
}
